---
import Project from "@/components/Project.astro";
import SectionContainer from "@/components/SectionContainer.astro";

import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => (a.data.order || 999) - (b.data.order || 999)
);
const featuredProjects = projects.filter((project) => project.data.featured);
const otherProjects = projects.filter((project) => !project.data.featured);
---

<SectionContainer id="projects">
  <div class="container">
    <div class="container-title">
      <h2>Algunos proyectos en los que He trabajado</h2>
      <span>
        Cada proyecto es un desafío único: una oportunidad para innovar,
        aprender y entregar soluciones eficaces.
      </span>
    </div>
    <div class="projects">
      {
        featuredProjects.map((project) => (
          <Project
            title={project.data.title}
            description={project.data.description}
            image={project.data.image}
            technologies={project.data.technologies}
            github={project.data.github}
            demo={project.data.demo}
            publishDate={project.data.publishDate}
            status={project.data.status}
          />
        ))
      }
    </div>
  </div>
</SectionContainer>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container-title {
    margin-bottom: 5rem;
    text-align: center;
  }

  h2 {
    font-family: "Clash";
    font-weight: 600;
    font-size: var(--fs-xl);
  }

  span {
    font-size: var(--fs-base);
    color: var(--color-text);
    display: block;
    margin-top: 0.5rem;

  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 100%;
    gap: 1rem;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
